[Unit]
Description=Linux PaaS daemon
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/linux-paas
Environment=NODE_ENV=production
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
